@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .submitButton {
    @apply p-2 rounded-md hover:rounded-xl transition-all 
    duration-300 bg-blue-500 text-gray-100 
  }

  .inputElement {
    @apply rounded-md p-2 text-center shadow-md w-48
  }

  .form {
    @apply m-auto flex max-w-[240px] flex-col 
    items-center gap-3 rounded-lg border-2
   border-blue-400 bg-slate-300 p-2 py-4 shadow-lg shadow-slate-400
  }

}